#adwantages{
    background: #f0efef;
}
.adwantages-container{
    min-height: 100vh;
    padding: 20px 0;
    background: transparent;
}
.adwantage-card{
    background-color: #ffffff;
    min-height:250px;
    text-align: center;
    border-radius: 30px;
    border-bottom: 3px solid var(--danger);
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}
.adwantage-card .adwantage-card-body p{
    color: #939292;
}
.adwantage-header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.adwantage-header .icon{
    width: 100px;
    height: 100px;
    padding: 10px;
    background-color: var(--pink) ;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.adwantage-header img{
   max-width: 50px;
   max-height: 50px;
}
.adwantage-btns{
    text-align: center !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width:768px){
    .adwantages-container p{
        font-size: 1em !important;
    }
}
