.elite-progarm{
    background-size: cover;
    padding: 20px;
    border-radius: 20px;
}
.elite-program-card{
    margin-bottom: 20px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: relative;
    overflow: hidden;
    z-index: 1;

}
.elite-program-card img{
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}
.elite-program-card:hover{
   transform: scale(0.9);
   transition: 0.7s;
   cursor: pointer;
}
