.elite-progarm{
   
    background-size: cover;
    padding: 20px;
    border-radius: 20px;
}
.elite-program-card{
    margin-bottom: 20px;
    background: #fff;
    padding: 20px;
    min-height: 250px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.elite-program-card img{
    width: 60px;
    height: 60px;
}
.elite-program-card::before{
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background: rgb(175, 233, 237);
    border-radius: 100px;
    top: -20px;
    right: -30px;
    z-index: -2;
}
