.highlight{
    border-radius: 20px;
    margin-top: 20px;
    position: relative;
}

.highlight-card{
    padding: 15px;
    text-align: center;
    color: #fff !important;
}
.blur-highlight{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
}