.hero-box{
    position: absolute;
    top: 0;
    left: 0%;
    /* transform: translateX(50%); */
    background-color: #fff;
    text-align: center;
}
.hero-box1{
    position: absolute;
    top: -30px;
    right: 0;
    /* transform: translateX(-30%); */
    background-color: #fff;
    text-align: center;
}
.hero-box2{
    position: absolute;
    top: 55%;
    left: 0px;
    transform: translateY(-50%);
    background-color: #fff;
    text-align: center;
}
.hero-box3{
    position: absolute;
    bottom: -30px;
    left: 0;
    background-color: #fff;
    text-align: center;
}
.hero-box4{
    position: absolute;
    bottom: -50px;
    right: 0;
    background-color: #fff;
    text-align: center;
}
.hero-image{
    position: relative;
}
.hero{
    /* min-height: 100vh; */
    min-height: fit-content;
    background-color: var(--color-dark-1);
    /* background: url('../images/homesec.svg') no-repeat center;
    background-size: cover; */
    position: relative;
    margin-bottom: 100px;
}
/* .hero .carousel-control-next, .hero .carousel-control-prev{
    display: none;
} */
.home .carousel-control-prev{
    display: none !important;
  }
  .carousel-control-next{
    z-index: 10 !important;
  }
  .carousel-control-next-icon{
    width: 3.5rem !important;
    height: 3.5rem !important;
    border-radius: 100px;
    padding: 10px !important;
    background: url('../images/angle-right.svg') no-repeat center !important;
    background-size: cover !important;
    z-index: 1020 !important;
  }
.hero-text{
    padding: 10px;
    position: relative;
    z-index: 10;
}

.hero-image{
    position: relative;
    min-height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}
.hero-image img{
    /* clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); */
    border-radius: 10px;
    border: 5px solid var(--color-green-1);
    padding: 5px;
    min-height: 100%;
}
.register-container-home{
    border-radius: 10px;
}

@media (max-width:1100){
    .hero-text{
        padding: 10px !important;
        text-align: center;
    }
}
@media (max-width:768px){
    .hero-text{
        padding: 10px !important;
        text-align: center;
    }
    .register-container-home .form-control{
            margin-bottom: 10px !important;
    }
    .hero-image{
        position: relative;
        min-height: fit-content !important;
    }
    .hero-image img{
        width: 300px;
        height: 300px;
    }
}