
.hero-image{
    position: relative;
    height:70vh;
    overflow: hidden;
    
}
.slick-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    /* margin: auto; */
    height: 100% !important;
  }
  .slick-container .slick-arrow{
    display: none !important;
}
.slick-container .slick-list{
    height: 100% !important;
    width: fit-content !important;
}
  
  .placements img {
    width: 70px;
    height: 70px;
    /* border-radius: 100px; */
    /* filter: grayscale(100%); */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
  }
 .company{
    position: absolute;
    bottom: 10px !important;
    color: #fff;
  }

  .scroll-image{
    margin-bottom: 10px;
    width: 100px !important;
    min-height: 200px !important;
    background: #e1dede68;
    backdrop-filter: blur(10px);
    border: 1px solid #fff;
    border-radius: 20px;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    mix-blend-mode: exclusion;
  }
  .company{
    max-height: 100px !important;
  }
  .scroll-image p{
    mix-blend-mode: exclusion;
  }
  .placements{
    background: linear-gradient(var(--red) 20%,#000 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #6a6a6a;
    width: fit-content !important;
    position: relative;
    overflow: hidden;
    padding: 20px;
  }
  
  
.hero{
    min-height: fit-content;
    background-color: var(--color-dark-1);
    position: relative;
    margin-bottom: 100px;
    
}
.home .carousel-control-prev{
    display: none !important;
  }
  .carousel-control-next{
    z-index: 10 !important;
  }
  .carousel-control-next-icon{
    width: 3.5rem !important;
    height: 3.5rem !important;
    border-radius: 100px;
    padding: 10px !important;
    background: url('../images/angle-right.svg') no-repeat center !important;
    background-size: cover !important;
    z-index: 1020 !important;
  }
.hero-text{
    padding: 10px;
    position: relative;
    z-index: 10;
    /* min-height: 80vh; */
}

/* .hero-image{
    position: relative;
    min-height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}
.hero-image img{
    border-radius: 10px;
    border: 5px solid var(--color-green-1);
    padding: 5px;
    min-height: 100%;
} */
.register-container-home{
    border-radius: 10px;
}

@media (max-width:1100){
    .hero-text{
        padding: 10px !important;
        text-align: center;
    }
}
@media (max-width:768px){
    .hero-text{
        padding: 10px !important;
        text-align: center;
    }
    .register-container-home .form-control{
            margin-bottom: 10px !important;
    }
    .hero-image{
        position: relative;
        min-height: fit-content !important;
    }
    .hero-image img{
        width: 300px;
        height: 300px;
    }
}