
.faq{
    padding: 20px;
    background-color: var( --blue-light);
}
.container {
    /* margin-top: 30px; */
    position: relative;
  }
  
  .faq-item {
    border: 2px solid #c6c4c4;
   background: #fff;
    position: relative;
  }
  .faq-item:hover{
    background-color: var(--pink);
  }
  
  .faq-question {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    cursor: pointer;
    border-radius: 20px;
  }
  .faq-question-text span{
    color: var(--color-purple-1);
  }

  .faq-answer p{
    color: #000000;
  }
  .count{
    background-color: var(--blue-light);
  }
  
  .faq-question-text {
    flex: 1;
    font-size: 18px;
  }
  
  .faq-icon {
    font-size: 24px;
  }
  
  .faq-answer {
    display: none;
    padding: 10px 20px;
    color: #fff;
  }
  
  .faq-item.active .faq-answer {
    display: block;
  }
.modules{
  border-radius: 30px;
}
.modules .faq-icon{
  background-color: var(--red);
  width: 25px;
  height: 25px;
  font-size: 1rem;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.module-right{
  position: relative;
}
.module-desc{
  position: absolute;
  bottom: 20px;
  right: 0px;
  background: #fff;
}
.module-right img{
  min-height: 100%;
}
  