.webinar-card{
  min-width: 320px;
  border-radius: 10px;
  scroll-snap-align: center;
}
#webinar{
  display: flex;
  overflow: auto;
  gap: 30px;
  scroll-snap-type: x mandatory;
}
#webinar::-webkit-scrollbar{
  display: none;
 
}
.bootcamp-card{
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.bootcamp-card .event-info{
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, #f7fffeb5, #070707);
  color: #fff;
  top: 0;
  left: 0;
  display: flex;
  justify-content: end;
  flex-direction: column;
  padding: 10px;


 
}
.bootcamp-card:hover .event-info{
  background: linear-gradient(transparent, #f7fffeb5, #ffffff);
  color: #000;
}
.bootcamp-card h3{
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}