.webinar-card{
  min-width: 320px;
  border-radius: 10px;
  scroll-snap-align: center;
}
#webinar{
  display: flex;
  overflow: auto;
  gap: 30px;
  scroll-snap-type: x mandatory;
}
#webinar::-webkit-scrollbar{
  display: none;
 
}