<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="text" id="num1">
    <input type="text" id="num2">
    <input type="text" id="name">
    <button onclick="calucate()">Click</button>
    
    <script>
        function calucate(){
            var number1 = parseFloat(document.getElementById('num1').value);
            var number2 = parseFloat(document.getElementById('num2').value);
            var name = document.getElementById('name').value;
var error = false;
            for(var i = 0; i<name.length; i++){
                if(name[i] == " "){
                   error = true
                }
                else{
                    error = false
                }
            }
            if(error){
                return (
                    alert(name.slice(0, parseInt( Math.random()*name.length))+parseInt( Math.random()*100) + "@gamil.com")
                )
            }
        }

        
        
    </script>
</body>
</html>l